In [1]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
sns.set_palette("Set3")

ModuleNotFoundError: No module named 'pandas'

In [ ]:
df = pd.read_csv('covid19.csv',sep=',',
                 usecols=['PATIENT_TYPE','SEX','AGE','PNEUMONIA','COPD','ASTHMA','INMSUPR',
                          'HIPERTENSION','OTHER_DISEASE','CARDIOVASCULAR','DIABETES','OBESITY','RENAL_CHRONIC',
                          'TOBACCO','CLASIFFICATION_FINAL','ICU','PREGNANT',"USMER","DATE_DIED","INTUBED"])
df.head(5)

,USMER,SEX,PATIENT_TYPE,DATE_DIED,INTUBED,PNEUMONIA,AGE,PREGNANT,DIABETES,COPD,ASTHMA,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,CLASIFFICATION_FINAL,ICU
0,2,1,1,03/05/2020,97,1,65,2,2,2,2,2,1,2,2,2,2,2,3,97
1,2,2,1,03/06/2020,97,1,72,97,2,2,2,2,1,2,2,1,1,2,5,97
2,2,2,2,09/06/2020,1,2,55,97,1,2,2,2,2,2,2,2,2,2,3,2
3,2,1,1,12/06/2020,97,2,53,2,2,2,2,2,2,2,2,2,2,2,7,97
4,2,2,1,21/06/2020,97,2,68,97,1,2,2,2,1,2,2,2,2,2,3,97

In [251]:
df = df.loc[(df.CLASIFFICATION_FINAL < 4)] #Values 1-3 mean that the patient was diagnosed with covid in different degrees
df = df.loc[(df.USMER == 1) | (df.USMER == 2)]
df = df.loc[(df.SEX == 1) | (df.SEX == 2)]
df = df.loc[(df.PATIENT_TYPE == 1) | (df.PATIENT_TYPE == 2)]
df = df.loc[(df.PNEUMONIA == 1) | (df.PNEUMONIA == 2)]
df = df.loc[(df.DIABETES == 1) | (df.DIABETES == 2)]
df = df.loc[(df.COPD == 1) | (df.COPD == 2)]
df = df.loc[(df.ASTHMA == 1) | (df.ASTHMA == 2)]
df = df.loc[(df.INMSUPR == 1) | (df.INMSUPR == 2)]
df = df.loc[(df.HIPERTENSION == 1) | (df.HIPERTENSION == 2)]
df = df.loc[(df.OTHER_DISEASE == 1) | (df.OTHER_DISEASE == 2)]
df = df.loc[(df.CARDIOVASCULAR == 1) | (df.CARDIOVASCULAR == 2)]
df = df.loc[(df.OBESITY == 1) | (df.OBESITY == 2)]
df = df.loc[(df.RENAL_CHRONIC == 1) | (df.RENAL_CHRONIC == 2)]
df = df.loc[(df.TOBACCO == 1) | (df.TOBACCO == 2)]
df = df.loc[(df.ICU == 1) | (df.ICU == 2)]

print(df)

         USMER  SEX  PATIENT_TYPE   DATE_DIED  INTUBED  PNEUMONIA  AGE  \
2            2    2             2  09/06/2020        1          2   55
5            2    1             2  9999-99-99        2          1   40
8            2    1             2  9999-99-99        2          2   37
9            2    1             2  9999-99-99        2          2   25
11           2    2             2  9999-99-99        2          2   24
...        ...  ...           ...         ...      ...        ...  ...
1047913      1    2             2  9999-99-99        2          2   54
1047919      1    2             2  9999-99-99        2          2   62
1047928      1    1             2  9999-99-99        2          2   47
1047929      1    2             2  9999-99-99        2          2   72
1047933      1    1             2  9999-99-99        2          2   77

         PREGNANT  DIABETES  COPD  ASTHMA  INMSUPR  HIPERTENSION  \
2              97         1     2       2        2             2
5               2         2     2       2        2             2
8               2         1     2       2        2             1
9               2         2     2       2        2             2
11             97         2     2       2        2             2
...           ...       ...   ...     ...      ...           ...
1047913        97         1     2       2        2             2
1047919        97         2     2       2        2             2
1047928         2         1     2       2        2             2
1047929        97         1     2       2        2             2
1047933         2         1     2       2        1             1

         OTHER_DISEASE  CARDIOVASCULAR  OBESITY  RENAL_CHRONIC  TOBACCO  \
2                    2               2        2              2        2
5                    2               2        2              2        2
8                    2               2        1              2        2
9                    2               2        2              2        2
11                   2               2        2              2        2
...                ...             ...      ...            ...      ...
1047913              2               2        2              2        2
1047919              2               2        2              2        2
1047928              2               2        2              2        2
1047929              2               1        1              2        2
1047933              2               2        2              2        2

         CLASIFFICATION_FINAL  ICU
2                           3    2
5                           3    2
8                           3    2
9                           3    2
11                          3    2
...                       ...  ...
1047913                     3    2
1047919                     3    2
1047928                     3    2
1047929                     3    2
1047933                     3    2

[108273 rows x 20 columns]

In [252]:
df.SEX = df.SEX.apply(lambda x: x if x == 1 else 0)  
df.USMER = df.USMER.apply(lambda x: x if x == 1 else 0)                     # no = 0, yes = 1
df.PATIENT_TYPE = df.PATIENT_TYPE.apply(lambda x: 0 if x == 1 else 1)     
df.PNEUMONIA = df.PNEUMONIA.apply(lambda x: x if x == 1 else 0)           
df.DIABETES = df.DIABETES.apply(lambda x: x if x == 1 else 0)             
df.COPD = df.COPD.apply(lambda x: x if x == 1 else 0)                     
df.ASTHMA = df.ASTHMA.apply(lambda x: x if x == 1 else 0)                 
df.INMSUPR = df.INMSUPR.apply(lambda x: x if x == 1 else 0)               
df.HIPERTENSION = df.HIPERTENSION.apply(lambda x: x if x == 1 else 0)     
df.OTHER_DISEASE = df.OTHER_DISEASE.apply(lambda x: x if x == 1 else -0)  
df.CARDIOVASCULAR = df.CARDIOVASCULAR.apply(lambda x: x if x == 1 else 0) 
df.OBESITY = df.OBESITY.apply(lambda x: x if x == 1 else 0)               
df.RENAL_CHRONIC = df.RENAL_CHRONIC.apply(lambda x: x if x == 1 else 0)   
df.TOBACCO = df.TOBACCO.apply(lambda x: x if x == 1 else 0)               
df.DATE_DIED = df.DATE_DIED.apply(lambda x: 0 if x == "9999-99-99" else 1)
df.PREGNANT = df.PREGNANT.apply(lambda x: x if x == 1 else 0)           
df.INTUBED = df.INTUBED.apply(lambda x: x if x == 1 else 0)                   
df.ICU = df.ICU.apply(lambda x: x if x == 1 else 0)

print(df)

         USMER  SEX  PATIENT_TYPE  DATE_DIED  INTUBED  PNEUMONIA  AGE  \
2            0    0             1          1        1          0   55
5            0    1             1          0        0          1   40
8            0    1             1          0        0          0   37
9            0    1             1          0        0          0   25
11           0    0             1          0        0          0   24
...        ...  ...           ...        ...      ...        ...  ...
1047913      1    0             1          0        0          0   54
1047919      1    0             1          0        0          0   62
1047928      1    1             1          0        0          0   47
1047929      1    0             1          0        0          0   72
1047933      1    1             1          0        0          0   77

         PREGNANT  DIABETES  COPD  ASTHMA  INMSUPR  HIPERTENSION  \
2               0         1     0       0        0             0
5               0         0     0       0        0             0
8               0         1     0       0        0             1
9               0         0     0       0        0             0
11              0         0     0       0        0             0
...           ...       ...   ...     ...      ...           ...
1047913         0         1     0       0        0             0
1047919         0         0     0       0        0             0
1047928         0         1     0       0        0             0
1047929         0         1     0       0        0             0
1047933         0         1     0       0        1             1

         OTHER_DISEASE  CARDIOVASCULAR  OBESITY  RENAL_CHRONIC  TOBACCO  \
2                    0               0        0              0        0
5                    0               0        0              0        0
8                    0               0        1              0        0
9                    0               0        0              0        0
11                   0               0        0              0        0
...                ...             ...      ...            ...      ...
1047913              0               0        0              0        0
1047919              0               0        0              0        0
1047928              0               0        0              0        0
1047929              0               1        1              0        0
1047933              0               0        0              0        0

         CLASIFFICATION_FINAL  ICU
2                           3    0
5                           3    0
8                           3    0
9                           3    0
11                          3    0
...                       ...  ...
1047913                     3    0
1047919                     3    0
1047928                     3    0
1047929                     3    0
1047933                     3    0

[108273 rows x 20 columns]

In [253]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 108273 entries, 2 to 1047933
Data columns (total 20 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   USMER                 108273 non-null  int64
 1   SEX                   108273 non-null  int64
 2   PATIENT_TYPE          108273 non-null  int64
 3   DATE_DIED             108273 non-null  int64
 4   INTUBED               108273 non-null  int64
 5   PNEUMONIA             108273 non-null  int64
 6   AGE                   108273 non-null  int64
 7   PREGNANT              108273 non-null  int64
 8   DIABETES              108273 non-null  int64
 9   COPD                  108273 non-null  int64
 10  ASTHMA                108273 non-null  int64
 11  INMSUPR               108273 non-null  int64
 12  HIPERTENSION          108273 non-null  int64
 13  OTHER_DISEASE         108273 non-null  int64
 14  CARDIOVASCULAR        108273 non-null  int64
 15  OBESITY               108273 non-null  int64
 16  RENAL_CHRONIC         108273 non-null  int64
 17  TOBACCO               108273 non-null  int64
 18  CLASIFFICATION_FINAL  108273 non-null  int64
 19  ICU                   108273 non-null  int64
dtypes: int64(20)
memory usage: 17.3 MB

In [254]:
df = df.replace([97, 99], np.nan)
df.head()

,USMER,SEX,PATIENT_TYPE,DATE_DIED,INTUBED,PNEUMONIA,AGE,PREGNANT,DIABETES,COPD,ASTHMA,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,CLASIFFICATION_FINAL,ICU
2,0,0,1,1,1,0,55.0,0,1,0,0,0,0,0,0,0,0,0,3,0
5,0,1,1,0,0,1,40.0,0,0,0,0,0,0,0,0,0,0,0,3,0
8,0,1,1,0,0,0,37.0,0,1,0,0,0,1,0,0,1,0,0,3,0
9,0,1,1,0,0,0,25.0,0,0,0,0,0,0,0,0,0,0,0,3,0
11,0,0,1,0,0,0,24.0,0,0,0,0,0,0,0,0,0,0,0,3,0

In [255]:
df = df.reset_index()
print(df)

          index  USMER  SEX  PATIENT_TYPE  DATE_DIED  INTUBED  PNEUMONIA  \
0             2      0    0             1          1        1          0
1             5      0    1             1          0        0          1
2             8      0    1             1          0        0          0
3             9      0    1             1          0        0          0
4            11      0    0             1          0        0          0
...         ...    ...  ...           ...        ...      ...        ...
108268  1047913      1    0             1          0        0          0
108269  1047919      1    0             1          0        0          0
108270  1047928      1    1             1          0        0          0
108271  1047929      1    0             1          0        0          0
108272  1047933      1    1             1          0        0          0

         AGE  PREGNANT  DIABETES  ...  ASTHMA  INMSUPR  HIPERTENSION  \
0       55.0         0         1  ...       0        0             0
1       40.0         0         0  ...       0        0             0
2       37.0         0         1  ...       0        0             1
3       25.0         0         0  ...       0        0             0
4       24.0         0         0  ...       0        0             0
...      ...       ...       ...  ...     ...      ...           ...
108268  54.0         0         1  ...       0        0             0
108269  62.0         0         0  ...       0        0             0
108270  47.0         0         1  ...       0        0             0
108271  72.0         0         1  ...       0        0             0
108272  77.0         0         1  ...       0        1             1

        OTHER_DISEASE  CARDIOVASCULAR  OBESITY  RENAL_CHRONIC  TOBACCO  \
0                   0               0        0              0        0
1                   0               0        0              0        0
2                   0               0        1              0        0
3                   0               0        0              0        0
4                   0               0        0              0        0
...               ...             ...      ...            ...      ...
108268              0               0        0              0        0
108269              0               0        0              0        0
108270              0               0        0              0        0
108271              0               1        1              0        0
108272              0               0        0              0        0

        CLASIFFICATION_FINAL  ICU
0                          3    0
1                          3    0
2                          3    0
3                          3    0
4                          3    0
...                      ...  ...
108268                     3    0
108269                     3    0
108270                     3    0
108271                     3    0
108272                     3    0

[108273 rows x 21 columns]

In [256]:
df['AT_RISK'] = df['DATE_DIED'] + df['INTUBED'] + df['ICU']
df.AT_RISK = df.AT_RISK.apply(lambda x: 1 if x > 0 else 0) 

# Drop a few columns which are intuitively not longer useful
df.drop(columns = ['CLASIFFICATION_FINAL', 'INTUBED', 'ICU','index'], inplace=True)

In [229]:
print(df)

        USMER  SEX  PATIENT_TYPE  DATE_DIED  PNEUMONIA   AGE  PREGNANT  \
0           0    0             1          1          0  55.0         0
1           0    1             1          0          1  40.0         0
2           0    1             1          0          0  37.0         0
3           0    1             1          0          0  25.0         0
4           0    0             1          0          0  24.0         0
...       ...  ...           ...        ...        ...   ...       ...
108268      1    0             1          0          0  54.0         0
108269      1    0             1          0          0  62.0         0
108270      1    1             1          0          0  47.0         0
108271      1    0             1          0          0  72.0         0
108272      1    1             1          0          0  77.0         0

        DIABETES  COPD  ASTHMA  INMSUPR  HIPERTENSION  OTHER_DISEASE  \
0              1     0       0        0             0              0
1              0     0       0        0             0              0
2              1     0       0        0             1              0
3              0     0       0        0             0              0
4              0     0       0        0             0              0
...          ...   ...     ...      ...           ...            ...
108268         1     0       0        0             0              0
108269         0     0       0        0             0              0
108270         1     0       0        0             0              0
108271         1     0       0        0             0              0
108272         1     0       0        1             1              0

        CARDIOVASCULAR  OBESITY  RENAL_CHRONIC  TOBACCO  AT_RISK
0                    0        0              0        0        1
1                    0        0              0        0        0
2                    0        1              0        0        0
3                    0        0              0        0        0
4                    0        0              0        0        0
...                ...      ...            ...      ...      ...
108268               0        0              0        0        0
108269               0        0              0        0        0
108270               0        0              0        0        0
108271               1        1              0        0        0
108272               0        0              0        0        0

[108273 rows x 18 columns]

In [257]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108273 entries, 0 to 108272
Data columns (total 18 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   USMER           108273 non-null  int64
 1   SEX             108273 non-null  int64
 2   PATIENT_TYPE    108273 non-null  int64
 3   DATE_DIED       108273 non-null  int64
 4   PNEUMONIA       108273 non-null  int64
 5   AGE             108228 non-null  float64
 6   PREGNANT        108273 non-null  int64
 7   DIABETES        108273 non-null  int64
 8   COPD            108273 non-null  int64
 9   ASTHMA          108273 non-null  int64
 10  INMSUPR         108273 non-null  int64
 11  HIPERTENSION    108273 non-null  int64
 12  OTHER_DISEASE   108273 non-null  int64
 13  CARDIOVASCULAR  108273 non-null  int64
 14  OBESITY         108273 non-null  int64
 15  RENAL_CHRONIC   108273 non-null  int64
 16  TOBACCO         108273 non-null  int64
 17  AT_RISK         108273 non-null  int64
dtypes: float64(1), int64(17)
memory usage: 14.9 MB
None

#### Question 1
Partition the sample based on 10-year age bands, i.e. the resulting groups will consist of people with ages from 18-28, 29-38, etc; that have 'DIABETES'. Construct 95% confidence intervals for the difference between the mean 'DEATH FOR COVID-19' for females and for males within each age band.

In [244]:
# NO POOLED

for val in [[18, 28], [29, 38], [39, 48], [49, 58], [59, 68], [69, 78], [79, 88]]:
    df_year_band = df[(df['AGE'] >= val[0]) & (df['AGE'] <= val[1])]
    df_year_band.reset_index(inplace=True, drop=True)
    
    
    Female_COVID_died = df_year_band[(df_year_band['SEX'] == 1) & (df_year_band['DIABETES'] == 1)]['DATE_DIED']
    Male_COVID_died = df_year_band[(df_year_band['SEX'] == 0) & (df_year_band['DIABETES'] == 1)]['DATE_DIED']

    Female_COVID_died.reset_index(inplace = True, drop = True)
    Male_COVID_died.reset_index(inplace = True, drop = True)
    
    print("Std Females that died with COVID-19: ", np.std(Female_COVID_died))
    print("Std Males that died with COVID-19: ", np.std(Male_COVID_died))
    print("Variance Ratio: ", (np.std(Female_COVID_died)**2)/(np.std(Male_COVID_died)**2))
    print("_________________________________________________________")

Std Females that died with COVID-19:  0.4413104493478833
Std Males that died with COVID-19:  0.46659661630122223
Variance Ratio:  0.8945513007390763
_________________________________________________________
Std Females that died with COVID-19:  0.46050091833651924
Std Males that died with COVID-19:  0.4677000351222916
Variance Ratio:  0.9694517438180554
_________________________________________________________
Std Females that died with COVID-19:  0.4794477165084547
Std Males that died with COVID-19:  0.48989794855663565
Variance Ratio:  0.9577921369382145
_________________________________________________________
Std Females that died with COVID-19:  0.49637344653945265
Std Males that died with COVID-19:  0.4997869833382368
Variance Ratio:  0.9863866818770283
_________________________________________________________
Std Females that died with COVID-19:  0.49932031029759616
Std Males that died with COVID-19:  0.49307695748911784
Variance Ratio:  1.0254843770653368
_________________________________________________________
Std Females that died with COVID-19:  0.4895234238231194
Std Males that died with COVID-19:  0.4755590369694546
Variance Ratio:  1.0595905531244327
_________________________________________________________
Std Females that died with COVID-19:  0.474655797106732
Std Males that died with COVID-19:  0.453104608393896
Variance Ratio:  1.0973890445685623
_________________________________________________________

In [245]:
# POOLED

for val in [[18, 28], [29, 38], [39, 48], [49, 58], [59, 68], [69, 78], [79, 88]]:
    df_year_band = df[(df['AGE'] >= val[0]) & (df['AGE'] <= val[1])]
    df_year_band.reset_index(inplace=True, drop=True)
    
    
    Female_COVID_died = df_year_band[(df_year_band['SEX'] == 1) & (df_year_band['DIABETES'] == 1)]['DATE_DIED']
    Male_COVID_died = df_year_band[(df_year_band['SEX'] == 0) & (df_year_band['DIABETES'] == 1)]['DATE_DIED']

    Female_COVID_died.reset_index(inplace = True, drop = True)
    Male_COVID_died.reset_index(inplace = True, drop = True)
    
    Female_temp = sm.stats.DescrStatsW(Female)
    Male_temp = sm.stats.DescrStatsW(Male)
    
    cm = sm.stats.CompareMeans(Male_temp,Female_temp)
    lower, upper = cm.tconfint_diff(usevar='pooled') 
    
    print(val)
    print("pooled: ", lower, ",", upper)
    print("pooled diff: ", abs(upper) - abs(lower))
    print('-----------------------------------------------------')
    print("_________________________________________________________")

[18, 28]
pooled:  0.016821651120675338 , 0.09167133247574345
pooled diff:  0.07484968135506812
-----------------------------------------------------
_________________________________________________________
[29, 38]
pooled:  0.016821651120675338 , 0.09167133247574345
pooled diff:  0.07484968135506812
-----------------------------------------------------
_________________________________________________________
[39, 48]
pooled:  0.016821651120675338 , 0.09167133247574345
pooled diff:  0.07484968135506812
-----------------------------------------------------
_________________________________________________________
[49, 58]
pooled:  0.016821651120675338 , 0.09167133247574345
pooled diff:  0.07484968135506812
-----------------------------------------------------
_________________________________________________________
[59, 68]
pooled:  0.016821651120675338 , 0.09167133247574345
pooled diff:  0.07484968135506812
-----------------------------------------------------
_________________________________________________________
[69, 78]
pooled:  0.016821651120675338 , 0.09167133247574345
pooled diff:  0.07484968135506812
-----------------------------------------------------
_________________________________________________________
[79, 88]
pooled:  0.016821651120675338 , 0.09167133247574345
pooled diff:  0.07484968135506812
-----------------------------------------------------
_________________________________________________________

#### Question 2
Conduct a hypothesis test (at the 0.05 level) for the null hypothesis that the proportion of women that died due to COVID-19 who smoke is equal to the proportion of men who smoke.

In [260]:
Female_SMOKE_COVID_died = df[(df['SEX'] == 1) & (df['TOBACCO'] == 1)]['DATE_DIED']
Female_SMOKE_COVID_died.reset_index(inplace=True,drop=True)
Male_SMOKE_COVID_died = df[(df['SEX'] == 0) & (df['TOBACCO'] == 1)]['DATE_DIED']
Male_SMOKE_COVID_died.reset_index(inplace=True,drop=True)

In [261]:
print(sum(Female_SMOKE_COVID_died==1), ",", sum(Female_SMOKE_COVID_died!=1))

628 , 996

In [262]:
print(sum(Male_SMOKE_COVID_died==1), ",", sum(Male_SMOKE_COVID_died!=1))

3255 , 3568

In [263]:
sum(Male_SMOKE_COVID_died==1)/len(Male_SMOKE_COVID_died)

0.477062875567932

In [264]:
sum(Female_SMOKE_COVID_died==1)/len(Female_SMOKE_COVID_died)

0.3866995073891626

In [266]:
(np.std(Male_SMOKE_COVID_died)**2)/(np.std(Female_SMOKE_COVID_died)**2)

1.0519089825691308

In [267]:
sm.stats.ttest_ind(Male_SMOKE_COVID_died, Female_SMOKE_COVID_died)

(6.583061224185866, 4.883510821358523e-11, 8445.0)